:root {
	--very-dark-magenta: hsl(300, 43%, 22%);
	--soft-pink: hsl(333, 80%, 67%);
	--dark-grayish-magenta: hsl(303, 10%, 53%);
	--light-grayish-magenta: hsl(300, 24%, 96%);
	--white: hsl(0, 0%, 100%);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100dvh;
	padding: 0 28px;
	background-image: url(./images/bg-pattern-top-desktop.svg),
		url(./images/bg-pattern-bottom-desktop.svg);
	background-repeat: no-repeat;
	background-position: top left, bottom right;
	font-family: 'League Spartan', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 64px;
	gap: 65px;
}

.main-description {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.main-description h1 {
	font-size: 4rem;
	color: var(--very-dark-magenta);
	width: 420px;
}

.main-description p {
	color: var(--dark-grayish-magenta);
	font-size: 1.2rem;
	max-width: 450px;
	line-height: 1.2;
	font-weight: 500;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.rating-container {
	display: flex;
	flex-direction: column;
	color: var(--very-dark-magenta);
	gap: 22px;
	padding: 12px;
	font-weight: 700;
	width: 500px;
}

.stars-container {
	display: flex;
	gap: 34px;
	width: 400px;
	padding: 20px 24px;
	background-color: var(--light-grayish-magenta);
	border-radius: 12px;
	align-items: center;
}

.stars-container.right {
	align-self: flex-end;
}
.stars-container.center {
	align-self: center;
}
.stars-container.left {
	align-self: flex-start;
}

.star-rating {
	display: flex;
	width: 110px;
	height: 20px;
	background-image: url(./images/icon-star.svg);
	background-repeat: space;
	background-size: contain;
}

.reviews-container {
	display: flex;
	justify-content: space-between;
	gap: 40px;
	height: 290px;
}

.review {
	display: flex;
	flex-direction: column;
	gap: 24px;
	color: #fff;
	padding: 38px;
	border-radius: 12px;
	background-color: var(--very-dark-magenta);
	line-height: 1.2;
	outline: red solid;
	height: auto;
	max-height: 280px;
}

.reviewer {
	display: flex;
	gap: 18px;
}

.reviewer p {
	color: var(--soft-pink);
}

.review img {
	border-radius: 100px;
	width: 42px;
	height: min-content;
}

.review.top {
	align-self: flex-start;
}

.review.center {
	align-self: center;
}

.review.bottom {
	align-self: flex-end;
}

/* Feel free to remove these styles or customise in your own stylesheet 👍 */

.attribution {
	position: absolute;
	bottom: 0;
	align-self: center;
	font-size: 15px;
	text-align: center;
	padding-bottom: 12px;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (width <= 1010px) {
	* {
		display: flex;
		flex-direction: row;
		padding: 0;
		width: 100%;
		height: auto;
		height: max-content;
		flex-wrap: wrap;
	}

	main {
		flex-direction: column;
	}
}
